profiles {
  conda {
    conda.enabled = true
  }

  stjude {
    includeConfig 'stjude.config'
  }

  // TODO: Link to image https://hub.docker.com/r/nextstrain/base/tags
  // docker {
  //   process.container = params.container_img
  //   docker.enabled = true
  // }

  // singularity {
  //   process.container = params.container_img
  //   singularity.enabled = true
  // }
}

conda.enabled = true

// singularity.autoMounts = true
// docker.runOptions = '-u \$(id -u):\$(id -g)'

manifest {
  name = 'j23414/augment'
  author = 'Jennifer Chang'
  description = 'Augment an existing phylogenetic analysis'
  mainScript = 'main.nf'
  version = '0.1.0'
}