params {
  // Minimal
  outdir = "results"
  newick = false

  // Add Metadata
  metadata = false
  metadata_id_columns = "accession_version"
  metadata_annotate = "date region country host is_lab_host"

  // Set Colors
  metadata_color_order = false
  metadata_set_colors = false

  alignment = false
  refine_args = ''
  export_args = ''

  // Add gene annotations
  // alignment = false
  reference_gb = false
  reference_fasta = false
}

profiles {
  conda {
    conda.enabled = true
  }

  stjude {
    includeConfig 'stjude.config'
  }

  // TODO: Link to image https://hub.docker.com/r/nextstrain/base/tags
  // docker {
  //   process.container = params.container_img
  //   docker.enabled = true
  // }

  // singularity {
  //   process.container = params.container_img
  //   singularity.enabled = true
  // }
}

conda.enabled = true

// singularity.autoMounts = true
// docker.runOptions = '-u \$(id -u):\$(id -g)'

process {
  publishDir = [ path: "${params.outdir}", mode: 'copy' ]
  withName: 'AUGUR_REFINE' { 
    publishDir = [ path: "${params.outdir}/refine", mode: 'copy']
    ext.args = params.refine_args ?: [
        "--timetree",
        "--keep-polytomies"
    ].join(' ')
  }
  withName: 'AUGUR_ANCESTRAL' { 
    publishDir = [ path: "${params.outdir}/ancestral", mode: 'copy']
  }
  withName: 'AUGUR_TRANSLATE' { 
    publishDir = [ path: "${params.outdir}/translate", mode: 'copy']
  }
  withName: 'EXPORT_METADATA_COLORS' { 
    publishDir = [ path: "${params.outdir}/colors", mode: 'copy']
  }
  withName: 'AUGUR_EXPORT' { 
    publishDir = [ path: "${params.outdir}/auspice", mode: 'copy']
    ext.args = params.export_args ?: [
        //"--include-root-sequence-inline",
        "--geo-resolutions country"
    ].join(' ')
  }
}

manifest {
  name = 'j23414/augment'
  author = 'Jennifer Chang'
  description = 'Augment an existing phylogenetic analysis'
  mainScript = 'main.nf'
  version = '0.1.0'
}

